#Nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 55px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 2; }

.Nav-links {
  text-transform: uppercase;
  text-decoration: none;
  display: inline;
  padding: 0 40px;
  font-family: "Dosis", sans-serif;
  font-size: 25px;
  color: #333333; }

.Nav-links:hover {
  border-bottom: 1px solid #333333; }

#Carousel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("./../img/burger and fries.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 0;
  position: relative; }
  #Carousel h1 {
    margin-top: 40vh;
    font-family: "Cutive Mono", monospace;
    text-transform: lowercase;
    font-size: 125px;
    color: white; }
  #Carousel .downArrow {
    position: absolute;
    bottom: 60px;
    left: calc(50vw - 7.5vh);
    width: 15vh;
    height: 15vh;
    fill: white; }

#About {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; }
  #About .contentContainer {
    width: 100%; }
  #About h1 {
    font-family: "Cutive Mono", monospace;
    text-transform: lowercase;
    font-size: 125px;
    color: #333333;
    float: right;
    padding-top: 5vw;
    padding-right: 5vw; }
  #About .pContainer {
    width: 50vw;
    height: 80vh;
    float: right;
    display: flex;
    align-items: center; }
  #About p {
    margin-top: 10vw;
    font-family: "Cutive Mono", monospace;
    text-transform: lowercase;
    font-size: 24px; }
  #About .arrowContainer {
    float: clear;
    width: 100%;
    position: absolute;
    bottom: 0; }
  #About .downArrow {
    position: absolute;
    bottom: 60px;
    left: calc(50vw - 7.5vh);
    width: 15vh;
    height: 15vh;
    fill: #333333; }

#MakeAList {
  width: 100%;
  min-height: 100vh;
  position: relative; }
  #MakeAList input {
    background-color: transparent;
    border: 0.5px solid #333333;
    padding: 4px;
    margin-bottom: 7px;
    height: 24px;
    width: 35vw;
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    font-size: 20px; }
  #MakeAList input:focus {
    outline: none;
    box-shadow: none; }
  #MakeAList button {
    width: 60px;
    height: 20px;
    background-color: white;
    border: none;
    font-family: "Cutive Mono", monospace;
    text-transform: lowercase;
    font-size: 16px; }
  #MakeAList button:hover {
    border-bottom: 1px solid #333333;
    cursor: pointer; }
  #MakeAList button:focus {
    outline: none; }
  #MakeAList h1 {
    width: 100vw;
    font-family: "Cutive Mono", monospace;
    text-transform: lowercase;
    font-size: 125px;
    color: #333333;
    padding: 5vw; }
  #MakeAList .titlesContainer {
    width: 50vw;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    #MakeAList .titlesContainer h4 {
      height: 28px;
      font-family: "Cutive Mono", monospace;
      text-transform: lowercase;
      font-size: 24px; }
  #MakeAList .formsContainer {
    width: 40vw;
    float: left; }
    #MakeAList .formsContainer .titleForm {
      display: flex;
      justify-content: space-between; }
    #MakeAList .formsContainer .listTitle {
      height: 31px;
      font-family: "Dosis", sans-serif;
      text-transform: uppercase;
      font-size: 20px;
      padding-top: 2px; }
    #MakeAList .formsContainer .listTitle:hover {
      cursor: pointer; }
    #MakeAList .formsContainer .restaurantList {
      display: flex;
      justify-content: space-between; }
      #MakeAList .formsContainer .restaurantList h5 {
        height: 24px;
        font-family: "Dosis", sans-serif;
        text-transform: uppercase;
        font-size: 20px; }
      #MakeAList .formsContainer .restaurantList p {
        float: left;
        height: 16px;
        font-family: "Cutive Mono", monospace;
        text-transform: lowercase;
        font-size: 16px;
        margin: 0 25px 5px 0; }
    #MakeAList .formsContainer .restaurantForm {
      display: flex;
      justify-content: space-between; }
  #MakeAList .bottom {
    clear: left;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0; }
    #MakeAList .bottom .saveList {
      width: calc(50vw - 8vh); }
      #MakeAList .bottom .saveList button {
        height: auto;
        width: auto;
        font-size: 45px;
        border: 1px solid #333333;
        margin: 7vw; }
    #MakeAList .bottom .downArrow {
      position: absolute;
      bottom: 60px;
      left: calc(50vw - 7.5vh);
      width: 15vh;
      height: 15vh;
      fill: #333333; }

#Lists {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative; }
  #Lists h1 {
    font-family: "Cutive Mono", monospace;
    text-transform: lowercase;
    font-size: 125px;
    color: #333333;
    padding-top: 5vw;
    padding-right: 5vw; }
  #Lists .listOfListsContainer {
    padding-right: calc(5vw - 25px);
    min-width: 30vw;
    display: flex;
    justify-content: flex-end; }
    #Lists .listOfListsContainer .listOfLists {
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      #Lists .listOfListsContainer .listOfLists .titlesContainer {
        height: 30px;
        margin: 5px; }
        #Lists .listOfListsContainer .listOfLists .titlesContainer .titles {
          text-decoration: none;
          color: #333333;
          font-family: "Dosis", sans-serif;
          text-transform: uppercase;
          font-size: 30px; }
        #Lists .listOfListsContainer .listOfLists .titlesContainer .titles:hover {
          border-bottom: 1px solid #333333; }
      #Lists .listOfListsContainer .listOfLists .deleteContainer {
        width: 25px;
        height: 25px;
        margin: 7.5px; }
  #Lists #ListDisplay {
    position: absolute;
    top: 5vw;
    left: 5vw; }
    #Lists #ListDisplay input {
      background-color: transparent;
      border: 0.5px solid #333333;
      padding: 4px;
      margin-bottom: 7px;
      height: 24px;
      width: 35vw;
      font-family: "Dosis", sans-serif;
      text-transform: uppercase;
      font-size: 20px; }
    #Lists #ListDisplay input:focus {
      outline: none;
      box-shadow: none; }
    #Lists #ListDisplay button {
      width: 60px;
      height: 20px;
      background-color: white;
      border: none;
      font-family: "Cutive Mono", monospace;
      text-transform: lowercase;
      font-size: 16px; }
    #Lists #ListDisplay button:hover {
      border-bottom: 1px solid #333333;
      cursor: pointer; }
    #Lists #ListDisplay button:focus {
      outline: none; }
    #Lists #ListDisplay .listTitle {
      height: 37px;
      font-family: "Dosis", sans-serif;
      text-transform: uppercase;
      font-size: 30px;
      padding-top: 2px; }
    #Lists #ListDisplay .listTitle:hover {
      cursor: pointer; }
    #Lists #ListDisplay form {
      height: 37px;
      padding: 5px 0; }
    #Lists #ListDisplay .restaurantList {
      margin-top: 20px;
      display: flex;
      justify-content: space-between; }
      #Lists #ListDisplay .restaurantList .restaurantContainer {
        width: 35vw;
        display: flex; }
        #Lists #ListDisplay .restaurantList .restaurantContainer h5 {
          height: 24px;
          font-family: "Dosis", sans-serif;
          text-transform: uppercase;
          font-size: 20px;
          margin-right: 25px; }
        #Lists #ListDisplay .restaurantList .restaurantContainer p {
          float: left;
          height: 20px;
          font-family: "Cutive Mono", monospace;
          text-transform: lowercase;
          font-size: 16px;
          margin: 3px 25px 5px 0; }

#EditItem {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4; }
  #EditItem .modulContainer {
    background-color: rgba(167, 147, 117, 0.9);
    padding: 25px;
    width: 50vw;
    position: fixed;
    margin: 40vh 25vw 0;
    top: 0;
    left: 0;
    display: flex; }
    #EditItem .modulContainer span {
      height: 20px;
      background-color: transparent;
      color: white;
      border: none;
      font-family: "Cutive Mono", monospace;
      text-transform: lowercase;
      font-size: 16px;
      margin-bottom: 2px; }
    #EditItem .modulContainer span:hover {
      border-bottom: 1px solid white;
      cursor: pointer; }
    #EditItem .modulContainer .labels {
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      #EditItem .modulContainer .labels p {
        height: 31px;
        font-family: "Cutive Mono", monospace;
        text-transform: lowercase;
        font-size: 24px;
        color: white; }
    #EditItem .modulContainer #inputs input {
      background-color: transparent;
      border: 0.5px solid white;
      color: white; }
    #EditItem .modulContainer .buttons {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end; }

#Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3; }
  #Footer .footerHide {
    position: absolute;
    bottom: -350px;
    width: 100%;
    height: 400px;
    display: flex;
    background-color: rgba(167, 147, 117, 0.9);
    transition: all .3s ease-in-out; }
    #Footer .footerHide h2 {
      margin: 10px;
      font-family: "Cutive Mono", monospace;
      text-transform: lowercase;
      font-size: 32px;
      color: white; }
    #Footer .footerHide h3 {
      margin: 18px 90px 0 0;
      font-family: "Dosis", sans-serif;
      text-transform: uppercase;
      font-size: 20px;
      color: white; }
    #Footer .footerHide .detailsButton {
      position: absolute;
      right: 20px;
      margin: 10px;
      font-family: "Cutive Mono", monospace;
      text-transform: lowercase;
      font-size: 32px;
      color: white; }
    #Footer .footerHide .detailsButton:hover {
      cursor: pointer; }
    #Footer .footerHide .editLink {
      position: absolute;
      bottom: 10px;
      left: 10px;
      height: 24px;
      text-transform: lowercase;
      text-decoration: none;
      padding: 0 40px;
      font-family: "Cutive Mono", monospace;
      font-size: 24px;
      color: white; }
    #Footer .footerHide .editLink:hover {
      border-bottom: 1px solid white; }
    #Footer .footerHide button {
      position: absolute;
      bottom: 20px;
      right: 20px;
      height: 60px;
      width: auto;
      color: white;
      background-color: transparent;
      font-family: "Cutive Mono", monospace;
      text-transform: lowercase;
      font-size: 45px;
      border: 1px solid white; }
    #Footer .footerHide button:hover {
      cursor: pointer; }
    #Footer .footerHide button:focus {
      outline: none; }
  #Footer .footerSlide {
    bottom: 0; }
  #Footer .backgroundContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0; }
    #Footer .backgroundContainer .resultsModul {
      background-color: rgba(167, 147, 117, 0.9);
      padding: 25px;
      min-width: 33vw;
      position: fixed;
      margin: 40vh 33vw 0;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column; }
      #Footer .backgroundContainer .resultsModul span {
        font-family: "Cutive Mono", monospace;
        text-transform: lowercase;
        font-size: 24px;
        color: white; }
      #Footer .backgroundContainer .resultsModul h2 {
        display: flex;
        justify-content: center;
        color: white;
        font-family: "Dosis", sans-serif;
        text-transform: uppercase;
        font-size: 125px;
        margin: 25px 0; }
      #Footer .backgroundContainer .resultsModul .p2 {
        display: flex;
        justify-content: flex-end; }
      #Footer .backgroundContainer .resultsModul .cancelContainer {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
        margin: 9px; }
        #Footer .backgroundContainer .resultsModul .cancelContainer svg {
          fill: white; }
