$futureFontFamily: 'Dosis', sans-serif;
$futureFontTransform: uppercase;
$futureMedFont: 20px;
$futureLargeFont: 30px;
$hipsterFontFamily: 'Cutive Mono', monospace; 
$hipsterFontTransform: lowercase;
$hipsterSmallFont: 16px;
$hipsterMedFont: 24px;
$hipsterLargeFont: 32px;
$pageTitleFontSize: 125px;
$lightFontColor: white;
$darkFontColor: #333333;
$complimentColor: rgba(167, 147, 117, .9);


#Nav{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 55px;
    width: 100%;
    background-color: rgba(255,255,255,.85);
    z-index: 2;
}
.Nav-links {
    text-transform: $futureFontTransform;
    text-decoration: none;
    display: inline;
    padding: 0 40px;
    font-family: $futureFontFamily;
    font-size: 25px;
    color: $darkFontColor;
}
.Nav-links:hover {
    border-bottom: 1px solid $darkFontColor;
}
#Carousel {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url('./../img/burger and fries.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0;
    position: relative;
    h1 {
        margin-top: 40vh;
        font-family: $hipsterFontFamily;
        text-transform: $hipsterFontTransform;
        font-size: $pageTitleFontSize;
        color: $lightFontColor;
    }
    .downArrow {
        position: absolute;
        bottom: 60px;
        left: calc(50vw - 7.5vh);
        width: 15vh;
        height: 15vh;
        fill: $lightFontColor;
    }
}
#About {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    .contentContainer {
        width: 100%;
    }
    h1 {
        font-family: $hipsterFontFamily;
        text-transform: $hipsterFontTransform;
        font-size: $pageTitleFontSize;
        color: $darkFontColor;
        float: right;
        padding-top: 5vw;
        padding-right: 5vw;
    }
    .pContainer{
        width: 50vw;
        height: 80vh;
        float: right;
        display: flex;
        align-items: center;
    }
    p {
        margin-top: 10vw;
        font-family: $hipsterFontFamily;
        text-transform: $hipsterFontTransform;
        font-size: $hipsterMedFont;
    }
    .arrowContainer{
        float: clear;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .downArrow {
        position: absolute;
        bottom: 60px;
        left: calc(50vw - 7.5vh);
        width: 15vh;
        height: 15vh;
        fill: $darkFontColor;
    }
}
#MakeAList {
    width: 100%;
    min-height: 100vh;
    position: relative;
    input {
        background-color: transparent;
        border: .5px solid $darkFontColor;
        padding: 4px;
        margin-bottom: 7px;
        height: $hipsterMedFont;
        width: 35vw;
        font-family: $futureFontFamily;
        text-transform: $futureFontTransform;
        font-size: $futureMedFont;
    }
    input:focus {
        outline: none;
        box-shadow: none;
    }
    button {
        width: 60px;
        height: $hipsterSmallFont + 4;
        background-color: white;
        border: none;
        font-family: $hipsterFontFamily;
        text-transform: $hipsterFontTransform;
        font-size: $hipsterSmallFont;
    }
    button:hover {
        border-bottom: 1px solid $darkFontColor;
        cursor: pointer;
    }
    button:focus {
        outline: none;
    }
    h1 {
        width: 100vw;
        font-family: $hipsterFontFamily;
        text-transform: $hipsterFontTransform;
        font-size: $pageTitleFontSize;
        color: $darkFontColor; 
        padding: 5vw;
    }
    .titlesContainer {
        width: 50vw;
        float: left;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h4 {
            height: $hipsterMedFont + 4;
            font-family: $hipsterFontFamily;
            text-transform: $hipsterFontTransform;
            font-size: $hipsterMedFont;
        }
    }
    .formsContainer {
        width: 40vw;
        float: left;
        .titleForm {
            display: flex;
            justify-content: space-between;
        }
        .listTitle {
            height: $hipsterMedFont + 7;
            font-family: $futureFontFamily;
            text-transform: $futureFontTransform;
            font-size: $futureMedFont;
            padding-top: 2px;
        }
        .listTitle:hover {
            cursor: pointer;
        }
        .restaurantList {
            display: flex;
            justify-content: space-between;
            h5 {
                height: $hipsterMedFont;
                font-family: $futureFontFamily;
                text-transform: $futureFontTransform;
                font-size: $futureMedFont;
            }
            p {
                float: left;
                height: $hipsterSmallFont;
                font-family: $hipsterFontFamily;
                text-transform: $hipsterFontTransform;
                font-size: $hipsterSmallFont; 
                margin: 0 25px 5px 0;
            }
        }
        .restaurantForm {
            display: flex;
            justify-content: space-between;
        }
    }
    .bottom {
        clear: left;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        .saveList {
            width: calc(50vw - 8vh);
            button {
                height: auto;
                width: auto;
                font-size: 45px;
                border: 1px solid $darkFontColor;
                margin: 7vw;
            }
        }
        .downArrow {
            position: absolute;
            bottom: 60px;
            left: calc(50vw - 7.5vh);
            width: 15vh;
            height: 15vh;
            fill: $darkFontColor;
        }
    }
}
#Lists {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    h1 {
        font-family: $hipsterFontFamily;
        text-transform: $hipsterFontTransform;
        font-size: $pageTitleFontSize;
        color: $darkFontColor;
        padding-top: 5vw;
        padding-right: 5vw;
    }
    .listOfListsContainer {
        padding-right: calc(5vw - 25px);
        min-width: 30vw;
        display: flex;
        justify-content: flex-end;
        .listOfLists {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .titlesContainer {
                height: $futureLargeFont;
                margin: 5px;
                .titles {
                    text-decoration: none;
                    color: $darkFontColor;
                    font-family: $futureFontFamily;
                    text-transform: $futureFontTransform;
                    font-size: $futureLargeFont;
                }
                .titles:hover {
                    border-bottom: 1px solid $darkFontColor;
                }
            }
            .deleteContainer {
                width: $futureLargeFont - 5;
                height: $futureLargeFont - 5;
                margin: 7.5px;
            }
        }
    }
    #ListDisplay{
        position: absolute;
        top: 5vw;
        left: 5vw;
        input {
            background-color: transparent;
            border: .5px solid $darkFontColor;
            padding: 4px;
            margin-bottom: 7px;
            height: $hipsterMedFont;
            width: 35vw;
            font-family: $futureFontFamily;
            text-transform: $futureFontTransform;
            font-size: $futureMedFont;
        }
        input:focus {
            outline: none;
            box-shadow: none;
        }
        button {
            width: 60px;
            height: $hipsterSmallFont + 4;
            background-color: white;
            border: none;
            font-family: $hipsterFontFamily;
            text-transform: $hipsterFontTransform;
            font-size: $hipsterSmallFont;
        }
        button:hover {
            border-bottom: 1px solid $darkFontColor;
            cursor: pointer;
        }
        button:focus {
            outline: none;
        }
        .listTitle {
            height: $futureLargeFont + 7;
            font-family: $futureFontFamily;
            text-transform: $futureFontTransform;
            font-size: $futureLargeFont;
            padding-top: 2px;
        }
        .listTitle:hover {
            cursor: pointer;
        }       
        form {
            height: $futureLargeFont + 7;
            padding: 5px 0;
        } 
        .restaurantList {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            .restaurantContainer {
                width: 35vw;
                display: flex;
                h5 {
                height: $hipsterMedFont;
                font-family: $futureFontFamily;
                text-transform: $futureFontTransform;
                font-size: $futureMedFont;
                margin-right: 25px;
                }
                p {
                    float: left;
                    height: $futureMedFont;
                    font-family: $hipsterFontFamily;
                    text-transform: $hipsterFontTransform;
                    font-size: $hipsterSmallFont; 
                    margin: 3px 25px 5px 0;
                }
            }
        }
    }
}

#EditItem {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    .modulContainer {
        background-color: $complimentColor;
        padding: 25px;
        width: 50vw;
        position: fixed;
        margin: 40vh 25vw 0;
        top: 0;
        left: 0;
        display: flex;
        span {
            height: $hipsterSmallFont + 4;
            background-color: transparent;
            color: $lightFontColor;
            border: none;
            font-family: $hipsterFontFamily;
            text-transform: $hipsterFontTransform;
            font-size: $hipsterSmallFont;
            margin-bottom: 2px;
        }
        span:hover {
            border-bottom: 1px solid $lightFontColor;
            cursor: pointer;
        }
        .labels {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            p {
                margin-top: 3px;
                height: $futureMedFont + 18;
                font-family: $hipsterFontFamily;
                text-transform: $hipsterFontTransform;
                font-size: $hipsterMedFont;
                color: $lightFontColor;
            }
        }
        #inputs {
            input {
                height: $hipsterMedFont + 10;
                background-color: transparent;
                border: .5px solid $lightFontColor;
                color: $lightFontColor;
            }
            #typeSelector {
                -webkit-appearance: none;
                height: $hipsterMedFont + 10;
                width: 35vw;
                margin: 0 0 7px 0;
                padding: 2px;
                background-color: $complimentColor;
                color: $lightFontColor;
                overflow: hidden;
                border: 1px solid $lightFontColor;
                font-family: $futureFontFamily;
                text-transform: $futureFontTransform;
                font-size: $futureMedFont;
            }
            #typeSelector:focus {
                outline: none;
                overflow: hidden;
            }
            #priceSelector {
                -webkit-appearance: none;
                height: $hipsterMedFont + 10;
                width: 35vw;
                margin: 0 0 7px 0;
                padding: 2px;
                background-color: $complimentColor;
                color: $lightFontColor;
                overflow: hidden;
                border: 1px solid $lightFontColor;
                font-family: $futureFontFamily;
                text-transform: $futureFontTransform;
                font-size: $futureMedFont;
            }
             #priceSelector:focus {
                outline: none;
                overflow: hidden;
            }
        }
        .buttons {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
        }
    }
}


#Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
    .footerHide {
        position: absolute;
        bottom: -350px;
        width: 100%;
        height: 400px;
        display: flex;
        background-color: $complimentColor;
        transition: all .4s ease-in-out;
        h2 {
            margin: 10px;
            font-family: $hipsterFontFamily;
            text-transform: $hipsterFontTransform;
            font-size: $hipsterLargeFont;
            color: $lightFontColor;
        }
        .titleContainer {
            height: $hipsterLargeFont;
            width: 45vw;
            text-overflow: ellipsis;
            display: flex;
            flex-wrap: wrap;
            #listSelector {
                -webkit-appearance: none;
                height: $hipsterLargeFont + 10;
                width: 200px;
                margin: 5px;
                padding: 5px;
                background-color: $complimentColor;
                color: $lightFontColor;
                overflow: hidden;
                border: 1px solid $lightFontColor;
                font-family: $futureFontFamily;
                text-transform: $futureFontTransform;
                font-size: $futureMedFont;
            }
            #listSelector:focus {
                outline: none;
                overflow: hidden;
            }
            .listOfRestaurants {
                margin-left: 300px;
            }
        }
        h3 {
            margin: 18px 90px 0 0;
            font-family: $futureFontFamily;
            text-transform: $futureFontTransform;
            font-size: $futureMedFont;
            color: $lightFontColor;
        }
        .detailsButton {
            position: absolute;
            right: 20px;
            margin: 10px;
            font-family: $hipsterFontFamily;
            text-transform: $hipsterFontTransform;
            font-size: $hipsterLargeFont;
            color: $lightFontColor;
        }
        .detailsButton:hover {
            cursor: pointer;
        }
        .editLink {
            position: absolute;
            bottom: 10px;
            left: 10px;
            height: $hipsterMedFont;
            text-transform: $hipsterFontTransform;
            text-decoration: none;
            padding: 0 40px;
            font-family: $hipsterFontFamily;
            font-size: $hipsterMedFont;
            color: $lightFontColor;
        }
        .editLink:hover {
            border-bottom: 1px solid $lightFontColor;
        }
        button {
            position: absolute;
            bottom: 20px;
            right: 20px;
            height: 60px;
            width: auto;
            color: $lightFontColor;
            background-color: transparent;
            font-family: $hipsterFontFamily;
            text-transform: $hipsterFontTransform;
            font-size: 45px;
            border: 1px solid $lightFontColor
        }
        button:hover {
            cursor: pointer;
        }
        button:focus {
            outline: none;
        }
    }
    .footerSlide{
        bottom: 0;
    }
    .backgroundContainer{
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.25);
        position: fixed;
        top: 0;
        left: 0;

        .resultsModul {
            background-color: $complimentColor;
            padding: 25px;
            min-width: 33vw;
            position: fixed;
            margin: 40vh 33vw 0;
            top: 0;
            left: 0; 
            display: flex;
            flex-direction: column;
            span {
                font-family: $hipsterFontFamily;
                text-transform: $hipsterFontTransform;
                font-size: $hipsterMedFont;
                color: $lightFontColor;
            }
            h2 {
                display: flex;
                justify-content: center;
                color: $lightFontColor;
                font-family: $futureFontFamily;
                text-transform: uppercase;
                font-size: $pageTitleFontSize;
                margin: 25px 0;
            }
            .p2 {
                display: flex;
                justify-content: flex-end;
            }
            .cancelContainer {
                position: absolute;
                top: 0;
                right: 0;
                width: $futureLargeFont - 5;
                height: $futureLargeFont - 5;
                margin: 9px;
                svg {
                    fill: $lightFontColor;
                }
                
            }
        }
    }
}